@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
Shoot smaller gauge shells, rifle, pistol ammo in your shotgun.

Drop-in sleeve quickly converts a shotgun chamber to shoot down-sized ammo.
<section id="description">
    <p>
        With these shotgun adapters, you can maximize the use of your shotgun by being able to shoot other gauges and even rifle
        and pistol calibers in your shotgun. 
        This shotgun adapter is simple and easy to use. 
        The smaller load inserts into the adapter, and the adapter inserts into the chamber of your shotgun.
    </p>
    
    <p>
        You can shoot the downsized ammunition as you normally would. 
        The adapter, with spent cartridge, is removed as you would a spent shotgun shell. 
        The discharged shell will slide out of the adapter easily.
    </p>

    <p>
        The adapters that shoot rifle calibers are not intended to take the place of an actual rifle. 
        But they are handy to have with you when you are carrying your shotgun to increase your options.
    </p>

    <p>
        These adapters require no installation or modifications to the shotgun. 
        Just drop them into the chamber like you would a normal load.
        The adapters eject like normal loads.
    </p>
</section>

<section id="video-clips">
    <h3>Video clips</h3>
    <article class="video-clip">
        <h4>12 Gauge shotgun shooting 20 Gauge ammo</h4>
        <iframe src="https://www.youtube.com/embed/rmrtX79I1eA/rel=0" width="560" height="315" frameborder="allowfullscreen"></iframe>
    </article>
    <article class="video-clip">
        <h4>Shooting a variety of adapters</h4>
        <iframe src="https://www.youtube.com/embed/CRZXyFsWsG8/rel=0" width="560" height="315" frameborder="allowfullscreen"></iframe>
    </article>
</section>

<section id="legal">
    <h3>Legal</h3>
    <p>
        These shotgun adapters are manufactured with the highest quality standards, 
        but as shooting firearms is a inherently dangerous activity, we are unable to assume responsibility 
        for any accidents, injuries, damages, or other mishaps that may occur while using this product.
        We strongly encourage the utmost safety precautions to be taken whenever using any firearms.
        Before using, please carefully inspect this product, as well as your firearm, to ensure there are no defects.
        In the event of a defect, please contact us in order to receive a speedy and full refund.
        No other warranties are made, express or implied.
        Use at your own risk.
        Use only as directed.
    </p>
</section>