@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>


<section id="email-contact">
    <h3>Email</h3>
    <p>The easiest way to contact us is by email.</p>
    <p class="larger-text"><a href="mailto:j_stieg@yahoo.com?subject=Shotgun Adapters">j_stieg@yahoo.com</a></p>
</section>
<br />
<section id="phone-contact">
    <h3>Phone</h3>
    <p>You may also contact us by phone Monday through Saturday, 8 am to 8 pm, Eastern Time.</p>
    <p class="larger-text"><a href="tel:+12313881646">(231) 388-1646</a></p>
    <p>Sales and customer support contact: Jared</p>
</section>