@{
    ViewBag.Title = "FAQ";
}
<h2>Frequently Asked Questions</h2>

<div class="container">
    <div id="faqs" class="row">
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    Will these adapters work in a pump shotgun or an autoloading (semi-automatic) shotgun?
                </section>
                <section class="qa-answer">
                    Not very well.
                    They work great in a break-action single shot, a double barrel, and over and under shotgun.
                    But in a pump shotgun or an autoloading (semi-automatic) shotgun,
                    the shell does not stay in the reducer sleeve as it is being thrust into the chamber.
                    If you insert them manually into the chamber, they will fire.
                    In a semi-automatic autoloading shotgun the adapter and the spent shell may not eject at the same time.
                    On a pump shotgun they will usually eject together when you eject the spent shell.
                </section>
            </div>
         </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    How accurate are they?
                </section>
                <section class="qa-answer">
                    The shot shells are amazingly accurate.
                    The pattern in a downsized shotgun shell is virtually the same as the standard load for that gun.
                    They could be used for small game hunting.
                    <br />
                    The pistol and rifle calibers are not as accurate.
                    You can hit a 1 lb coffee can at twenty paces....much of the time.
                    I would not recommend them for hunting.
                </section>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    Do you make a 16 Ga to 20 Ga adapter?
                    or a 12 ga to 16 ga adapter?
                    or a 20 ga to 28 ga adapter?
                </section>
                <section class="qa-answer">
                    No, because the adapter walls would be too thin.
                    The diameters of those gauges are too close to being the same size.
                </section>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    Are the adapters rifled?
                </section>
                <section class="qa-answer">
                    No, they are not. They are straight bored, reamed, and polished.
                </section>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    Do you ship internationally?
                </section>
                <section class="qa-answer">
                    No.
                </section>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    What is the quality of these adapters?
                </section>
                <section class="qa-answer">
                    These adapters are of the highest quality, machined on a lathe by an accomplished machinist.
                    Then they are polished and test fired.
                    They were not produced on a mass production CNC screw machine.
                </section>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 faq">
            <div class="col-xs-12 faq-inner">
                <section class="qa-question">
                    Can you shoot 3" shells with these adapters?
                </section>
                <section class="qa-answer">
                    Yes, you can shoot 3" shells in these adapters.
                    However, after firing, the casing sticks out past the end of the adapter about 1/4",
                    and the empty shell won't shake out of the adapter...you have to push them out.
                    They will push out easily with your fingers.
                    Another thing...if you reload the fired casings, they are a little harder to re-crimp.
                </section>
            </div>
        </article>
    </div>
</div>