@model IEnumerable<ShotgunAdapters.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" data-interval="5000" data-ride="carousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/AdapterWith2Shells.png" 
                 alt="Image of shotgun adapter with two shells">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s4">Shotgun Adapters</p>
                <p class="carousel-text s2">let you shoot</p>
                <p class="carousel-text s1">smaller gauge shells,</p>
                <p class="carousel-text s1">rifle, and pistol ammo</p>
                <p class="carousel-text s1">in your</p>
                <p class="carousel-text s4">shotgun</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/DoubleBarrelShotgunWithAdapters.png" 
                 alt="Image of adapters in double-barrelled shotgun with target in background">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s3">Installation is simple:</p>
                <p class="carousel-text s3"><br /></p>
                <p class="carousel-text s2">Slide the adapter</p>
                <p class="carousel-text s2">into the shotgun chamber</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/DoubleBarrelShotgunTarget.png"
                 alt="Image of shells being loaded in adapters in double-barrelled shotgun with target in background">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s3">Next:</p>
                <p class="carousel-text s3"><br /></p>
                <p class="carousel-text s2">Load the smaller shells</p>
                <p class="carousel-text s2">as you normally would</p>
                <p class="carousel-text s2">into the adapter</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/AdaptersAndShellsOnWoodTable.png"
                 alt="Image of shells being loaded into adapters in a double-barrelled shotgun with target in background">
            <div class="carousel-caption">We have a wide assortment of calibers available</div>
        </div>
        <div class="item">
            <img src="~/Content/images/FiveShotgunAdapters.png"
                 alt="Image of five upright shotgun adapters">
            <div class="carousel-textbox-left">
                <p class="carousel-text s3">Precision machined</p>
                <p class="carousel-text s2">to specifications</p>
                <p class="carousel-text s2">to fit your</p>
                <p class="carousel-text s3">shotgun</p>
            </div>
            <div class="carousel-textbox-right">
                <p class="carousel-text s1">The</p>
                <p class="carousel-text s3">adapter bore</p>
                <p class="carousel-text s1">is</p>
                <p class="carousel-text s2">reamed smooth</p>
                <p class="carousel-text s1">and</p>
                <p class="carousel-text s3">polished</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/AdapterRearView.png"
                 alt="Image of shotgun adapter from rear view">
            <div class="carousel-textbox-center-left">
                <p class="carousel-text s1">You can also fire</p>
                <p class="carousel-text s3">rifle bullets</p>
                <p class="carousel-text s2">in your shotgun</p>
                <p class="carousel-text s1">with the appropriate</p>
                <p class="carousel-text s3">adapter</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
</div>

<section id="featured-products" class="row">
    <h2>Featured Products</h2>
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductPartial", product)
    }
</section>