@model IEnumerable<ShotgunAdapters.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" data-interval="5000" data-ride="carousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/20171118131000-AdapterWith2Shells-w800.png" 
                 srcset="~/content/images/20171118131000-AdapterWith2Shells-w800.png 800w, 
                        ~/content/images/20171118131000-AdapterWith2Shells-w400.png 400w, 
                        ~/content/images/20171118131000-AdapterWith2Shells-w200.png 200w, 
                        ~/content/images/20171118131000-AdapterWith2Shells-w100.png 100w"
                 alt="Image of shotgun adapter with two shells">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s4">Shotgun Adapters</p>
                <p class="carousel-text s2">let you shoot</p>
                <p class="carousel-text s1">smaller gauge shells</p>
                <p class="carousel-text s1">in your</p>
                <p class="carousel-text s4">shotgun</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/20171118131003-DoubleBarrelShotgunWithAdapters-w800.png" 
                 srcset="~/content/images/20171118131003-DoubleBarrelShotgunWithAdapters-w800.png 800w, 
                        ~/content/images/20171118131003-DoubleBarrelShotgunWithAdapters-w400.png 400w,
                        ~/content/images/20171118131003-DoubleBarrelShotgunWithAdapters-w200.png 200w, 
                        ~/content/images/20171118131003-DoubleBarrelShotgunWithAdapters-w100.png 100w"
                 alt="Image of adapters in double-barrelled shotgun with target in background">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s3">Easy to Use:</p>
                <p class="carousel-text s2"><br /></p>
                <p class="carousel-text s2">Slide the adapter</p>
                <p class="carousel-text s2">into the shotgun chamber</p>
                <p class="carousel-text s2">like a normal shell</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171118150955-DoubleBarrelShotgunTarget-w800.png"
                 srcset="~/content/images/20171118150955-DoubleBarrelShotgunTarget-w800.png 800w, 
                        ~/content/images/20171118150955-DoubleBarrelShotgunTarget-w400.png 400w, 
                        ~/content/images/20171118150955-DoubleBarrelShotgunTarget-w200.png 200w, 
                        ~/content/images/20171118150955-DoubleBarrelShotgunTarget-w100.png 100w"
                 alt="Image of shells being loaded in adapters in double-barrelled shotgun with target in background">
            <div class="carousel-textbox-center-right">
                <p class="carousel-text s3">Next:</p>
                <p class="carousel-text s3"><br /></p>
                <p class="carousel-text s2">Load the smaller shells</p>
                <p class="carousel-text s2">into the adapter</p>
                <p class="carousel-text s2">as you normally would</p>

            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171118131008-AdaptersAndShellsOnWoodTable-w800.png"
                 srcset="~/content/images/20171118131008-AdaptersAndShellsOnWoodTable-w800.png 800w, 
                 ~/content/images/20171118131008-AdaptersAndShellsOnWoodTable-w400.png 400w, 
                 ~/content/images/20171118131008-AdaptersAndShellsOnWoodTable-w200.png 200w, 
                 ~/content/images/20171118131008-AdaptersAndShellsOnWoodTable-w100.png 100w"
                 alt="Image of shells being loaded into adapters in a double-barrelled shotgun with target in background">
            <div class="carousel-caption">We have a wide assortment of adapters available</div>
        </div>
        <div class="item">
            <img src="~/content/images/20171118131150-FiveShotgunAdapters-w800.png"
                 srcset="~/content/images/20171118131150-FiveShotgunAdapters-w800.png 800w, 
                 ~/content/images/20171118131150-FiveShotgunAdapters-w400.png 400w, 
                 ~/content/images/20171118131150-FiveShotgunAdapters-w200.png 200w, 
                 ~/content/images/20171118131150-FiveShotgunAdapters-w100.png 100w"
                 alt="Image of five upright shotgun adapters">
            <div class="carousel-textbox-left">
                <p class="carousel-text s3">Precision machined</p>
                <p class="carousel-text s2">to specifications</p>
                <p class="carousel-text s2">to fit your</p>
                <p class="carousel-text s3">shotgun</p>
            </div>
            <div class="carousel-textbox-right">
                <p class="carousel-text s1">The</p>
                <p class="carousel-text s3">adapter bore</p>
                <p class="carousel-text s1">is</p>
                <p class="carousel-text s2">reamed smooth</p>
                <p class="carousel-text s1">and</p>
                <p class="carousel-text s3">polished</p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/20171118130957-AdapterRearView-w800.png"
                 srcset="~/content/images/20171118130957-AdapterRearView-w800.png 800w, 
                        ~/content/images/20171118130957-AdapterRearView-w400.png 400w, 
                        ~/content/images/20171118130957-AdapterRearView-w200.png 200w, 
                        ~/content/images/20171118130957-AdapterRearView-w100.png 100w"
                 alt="Image of shotgun adapter from rear view">
            <div class="carousel-textbox-center-left">
                <p class="carousel-text s1">Have fun using</p>
                <p class="carousel-text s3">cheaper</p>
                <p class="carousel-text s2">and different</p>
                <p class="carousel-text s1">kinds of ammo</p>
                <p class="carousel-text s3">in your shotgun</p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
</div>

<section id="featured-products" class="row">
    <h2>Featured Products</h2>
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductPartial", product)
    }
</section>